*~
*.swp
*.swo
*.o
*.d
*.a
*.elf
*.bin
*.hex
*.pyc
*.pyo
*.map
*.link
*.log
*.old
*.del
*.lst
*.spec

.sconsign.dblite
tags
a.out
.build_signature

.~*#

private/

__pycache__/
.buildozer/
bin/

dist/
app_dist/
*.egg-info/

test/fcfs/
test/build/
test/dist/
test/dist-mcush-debug/

Debug/
Release/
*.layout
*.depend



