*~
*.swp
*.swo
*.o
*.a
*.elf
*.bin
*.hex
*.pyc
*.pyo
*.map
*.link
*.log
*.old
*.del
*.lst

.sconsign.dblite
tags
a.out
.build_signature

.~*#

private/

__pycache__/
.buildozer/
bin/

dist/
*.egg-info/

test/fcfs/
test/build/
test/dist-mcush-debug/
